* {
  box-sizing: border-box;
}

.App-header {
  width: 100%;
  background-color: #1A6EC1;
  color: white;
}

.App-header .wrapper {
  display: flex;
  flex-direction: row;
}

.App-header h1 {
  display: inline-block;
  margin-right: 3rem;
  font-size: 2.8rem;
}
body {
  background: #eee;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search {
  flex-grow: 1;
  align-self: center;
}

.search form {
  display: flex;
}

.search input[type='text'] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.search button {
  padding: 12px;
  border: none;
}

.product-list {
  padding-bottom: 5rem;
}

.product-list ul {
  display: flex;  
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-around;
}

.product-list li {
  border: 1px solid #e9e9e9;
  list-style: none;
  text-align: center;
  width: 385px;
  padding: 20px;
  margin: 10px 0;
  background: white;
}

.product-list h2 {
  text-align: left;
  font-size: 1rem;
}

.product-list h1 {
  text-align: left;
  color: #1A6EC1;
  margin-bottom: 0;
}

.pagination {
  margin: 0 auto;
  text-align:center;
}

.pagination-button {
  padding: 10px 15px;
  font-size:1.5rem;
  margin: 0 10px;
}

.carousel {
  max-width: 400px;
  width: 100%;
}


