.App-header {
  width: 100%;
  background-color: #1A6EC1;
  color: white;
}

.App-header .wrapper {
  display: flex;
  flex-direction: row;
}

.App-header h1 {
  display: inline-block;
  margin-right: 3rem;
  font-size: 2.8rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search {
  flex-grow: 1;
  align-self: center;
}

.search form {
  display: flex;
}

.search input[type='text'] {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
}

.search button {
  padding: 12px;
  border: none;
}